@import 'variables.scss';
@import 'mixins.scss';
@import 'navbar.scss';
@import 'masthead.scss';
@import 'buttons.scss';
@import 'about.scss';
@import 'authors.scss';
@import 'signup.scss';
@import 'contact.scss';

body {
  font-family: 'Nunito';
  letter-spacing: 0.0625em;
}

a {
  color: $primary;
  &:focus,
  &:hover {
    text-decoration: none;
    color: darken($primary, 20%);
  }
}

.btn-primary:hover {
  background-color: #2a4c58;
}

.img-greyscale {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.event-ul {
  list-style-type: none;
}

.btn-primary {
  background-color: #b5ba5c;
}

.bg-black {
  background-color: $black !important;
}

.bg-green {
  background-color: #1f3741 !important;
}

.bg-primary {
  background-color: $primary !important;
}

.text-primary {
  color: $primary !important;
}

footer {
  padding: 5rem 0;
}
